@import "tailwindcss";


:root {

  --background: #dfe8d5;

  --foreground: #3b2a16;

}



@theme inline {

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);

  --font-mono: var(--font-geist-mono);

}



/* główna baza archiwum */

body {

  margin:0;

  background:

    linear-gradient(
      rgba(220,232,210,.94),
      rgba(220,232,210,.94)
    ),
    url("/images/historia/stara-mapa-tlo.jpg");


  background-size:cover;

  background-position:center;

  background-attachment:fixed;


  color:var(--foreground);


  font-family:

    Georgia,
    "Times New Roman",
    serif;

}



/* wspólne tło dla Skrzyń Czasu */

.archiwum-tlo {

  min-height:100vh;

  background:

    linear-gradient(
      rgba(244,232,204,.84),
      rgba(244,232,204,.84)
    ),
    url("/images/historia/stara-mapa-tlo.jpg");


  background-size:cover;

  background-position:center;

  background-attachment:fixed;

}



/* delikatny styl archiwalny */

h1,
h2,
h3 {

  font-family:

    Georgia,
    "Times New Roman",
    serif;

  letter-spacing:.5px;

}



p {

  font-family:

    Georgia,
    "Times New Roman",
    serif;

}



/* wygładzenie linków */

a {

  transition:.3s ease;

}